__pycache__/
*.pyc
.git/
.github/
.vs/
.venv/
.venv-*/
.pytest_cache/
.ipynb_checkpoints/
.git/
.vs/
**/bin/
**/obj/
*.lscache
data/
logs/
output/
scratch/
lixeira/
webapp/frontend/node_modules/
webapp/frontend/dist/
webapp/backend/bin/
webapp/backend/obj/
webapp/backend/obj_validate/
